
* {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-me {
 
    margin: 7% 3% 5% 3%;
    padding: 30px;
    background-color: orange;
}

.about-picture {
    width: 38%;
    float: left;
    margin-right: 1em;
    clear: both;
}

footer {
    background-color: #666;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #6C757D;
    padding: 1em;
    border: 1ex solid #4AAAA5;
    border-right: none;
    border-left: none;
    border-bottom: none;
}

@media screen and (max-width: 768px)
{
    .about-me {
     
        margin: 13% 3% 20% 3%;
        padding: 5%;
        background-color: yellow;
    }

    .about-picture {
        width: 57%;
    }
}

@media screen and (max-width: 400px)
{
    .about-me {

        margin: 20% 5% 25%;
        padding: 5%;
        background-color: red;
    }

    .about-picture {
        width: 67%;
    }
}